fastapi[standard]
uvicorn
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
redis
pydantic
pydantic-settings
email-validator
python-dotenv
typing-extensions
flake8

# test
pytest
httpx
faker
factory-boy
pytest-asyncio
